.dashboard {
  width: 100%;
  min-height: 100vh;
  padding: 16px 16px 16px 140px;
  
 
}
.dashboard-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(283px, 1fr));
  gap: 1rem;
  place-content: center;
}
.wrapper-data img {
  width: 100%;
  object-fit: cover;
}
