.nav {
  position: absolute;
  top: 32px;
  left: 32px;
  width: 96px;
  height: 584px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 2rem 0;
  background: #161d2f;
  z-index: 2;
  border-radius: 20px;
  font-size: 2rem;
  
}

.nav .user{
background: #5a698f;
width: 40px;
height: 40px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;
padding-top: 10px;
}
.link{
  color:#5a698f;
}
.link:nth-child(2){
  color: #ffffff;
}
.link:hover{
  color: #fc4747;
}
.link:focus{
  color: #fc4747;
}



